---
layout: default
---

<div class="jumbotron">
  <h1><span class='highlighted'>{{ site.greeting }}</span></h1>
  <p><span class='highlightedcaption'>
    {{ site.description }}
    </span>
  </p>
  <p><a class="btn btn-primary btn-lg" href="{{ site.baseurl }}/datasets" role="button">Start browsing</a></p>
</div>

<div class="jumbotron" style="background-image:none;">
  <p style="font-size:16px;margin-bottom:0;">
    {{ site.explanation }}
  </p>
</div>

<h3>Browse by Category</h3>

<div class="homepage-categories">
{% for category in site.data.categories %}
  {% if category.featured == true %}
    {% capture logo_alt %}{{ category.name }}{% if category.logo_credit and category.logo_credit != empty %} logo by {{ category.logo_credit }}{% endif %}{% endcapture %}
    <a href="{{ site.baseurl }}/datasets/?category={{ category.name | slugify }}" class="thumbnail" title="{{ logo_alt }}">
      {% if category.logo and category.logo != empty %}
        <img src="{{ site.baseurl }}{{ category.logo }}" alt="{{ logo_alt }}">
        <svg class="caticon">
          <use xlink:href="{{ site.baseurl }}{{ category.logo }}"></use>
        </svg>
      {% endif %}
      {{ category.name }}
    </a>
  {% endif %}
{% endfor %}
</div>
